<div class="navbar">
    <a href="#" class="toggle" id="navHamburger">
        <i class="fas fa-bars"></i>
    </a>

    <a href="/" class="brand">Refacciones y Mantenimiento</a>

    <div class="right">
        <a href="/" class="link">Inicio</a>
        <a href="about" class="link">Nosotros</a>
        <a href="contact" class="link">Contacto</a>
    </div>
</div>