<div class="enviado-container">
    <div class="enviado-wrapper" data-aos="zoom-in">
        <div class="sucessful-logo">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="sucessful-message">
            <p>Presupuesto enviado con exito</p>
        </div>
        <div class="sucessful-data">
            <h5>{{fullName}} en los proximos dias vamos a mandarte tu presupuesto
                al email {{email}}</h5>
        </div>
        <div class="sucessful-link">
            <a class="home-link" href="/">Inicio</a> 
        </div>
    </div>
</div>